@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lora&display=swap');
/* 
  font-family: 'Lora', serif;
  font-family: 'Josefin Sans', sans-serif;
 */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header area */

h1,h2{
  font-family: 'Josefin Sans', sans-serif;
}
h2{
  font-size: 40px;
  
}
p,a,span{
  font-family: 'Lora', serif;
}
header{
  /* border: 2px solid red; */
  background-color: rgb(247, 220, 111);
  position: relative;
}
header img{
  position: absolute;
  left: 0;
  top: 13%;
}
header h1{
  /* border: 2px solid blue; */
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: capitalize;
}
/* .title{
  border: 2px solid green;
} */
nav{
  /* border: 2px  solid rgb(77, 48, 206); */
  text-align: center;
}
header nav ul li{
  display: inline-block;
  margin-left: 50px;
}
header nav li a{
  /* border: 2px solid orange; */
  padding: 0 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  padding:7px 7px;
}
header nav li a:hover{
  background-color: rgb(251, 192, 45);
  color: grey;
}


/* contact area */
.contact h2{
    /* border: 2px solid red; */
    text-align: center;
    margin: 80px auto 60px auto;
}
form{
    /* background-color: grey; */
    margin:5% 5% 10% 5%;
    padding: 5px;
    width: 90%;
}
label{
    /* border: 2px dashed green; */
    display: block;
}
input,textarea{
       width: 100%;
       margin-bottom: 5px;
       border-radius: 5px;
       padding: 5px;
}
input::placeholder,textarea::placeholder{
    text-transform: capitalize;
}
/* footer area */

footer{
    /* border: 2px solid orange; */
    background-color:rgb(247, 220, 111) ;
  }
  
  footer h2{
    padding-top: 15px;
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
  }
  
  footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
  }
  footer ul li a:hover{
    background-color: rgb(251, 192, 45);
    color: grey;
  }
  footer .nav{
    width:  50%;
    float: left;
  }
  footer .nav a i:hover{
    color: grey;
  }
  .footer{
    overflow: hidden;
  }
  .nav,.access{
    float: left;
    width: 50%;
  }
  
  .access .map{
    /* border: 2px solid red; */
    width: 300px;
  }
  .access p{
    /* border: 2px solid green; */
    padding-left: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
  }
  .access .map img{
    margin: 0 auto;
  
  }
  .footer .nav{
    /* border: 2px solid red; */
    height: 150px;
    padding: 30px;
    overflow: hidden;
  }
  .nav .nav1,.nav2{
    float: left;
    margin-left: 100px;
  }
  /* .nav1{
    border: 2px solid yellow;
  } */
  .footer .nav ul li{
    list-style-type: none;
  }
  .footer .nav a i{
    color: black;
    font-size: 25px;
  }
  .copyright{
    /* border: 2px solid purple; */
    clear: left;
    text-align: center;
    padding-bottom:8px;
  }